.starWarsText {
    transform: perspective(200px) rotateX(14deg);
    animation: intro 25s linear;

    .dimension {
        height: calc(100vh - 96px);

        @media (width < 1024px) {
            height: calc(100vh - 140px);
            ;
        }

        @media (width < 640px) {
            height: calc(100vh - 96px);
        }
    }

    height: calc(100vh - 96px);
    max-width: 100vw;

    @media (width < 1024px) {
        height: calc(100vh - 140px);
        ;
    }

    @media (width < 640px) {
        height: calc(100vh - 96px);
    }
}

.text {
    height: calc(100vh - 96px);

    @media (width < 1024px) {
        height: calc(100vh - 140px);
        ;
    }

    @media (width < 640px) {
        height: calc(100vh - 96px);
        ;
    }
}

@keyframes intro {
    0% {
        transform: perspective(200px) rotateX(14deg) translateY(800px);
        opacity: 1;
    }

    60% {
        opacity: 0.5;
    }

    100% {
        transform: perspective(200px) rotateX(20deg) translateY(-1000px);
        opacity: 0;
    }
}